@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-button {
  background: linear-gradient(96.02deg, #bc0e19 7.77%, #db202c 91.68%);
  box-shadow: 0px 5px 25px rgba(192, 30, 41, 0.5);
}

.tonton-circle {
  background: rgba(95, 122, 219, 0.8);
  filter: blur(50px);
}
